<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @unobtrusive_jikochu.name %>
</p>


<%= link_to 'Edit', edit_unobtrusive_jikochu_path(@unobtrusive_jikochu) %> |
<%= link_to 'Back', unobtrusive_jikochus_path %>
